// @import "typography";

//Colors
$JustWhite: #ffffff;
$DarkBlack: #0d0d0d;
$OurOrange: #f26b1d;
$OurOrange-1: #da5000;
$ColdBlue: #26658c;
$DullBlue: #2976a6;
$BlackBlue: #021826;
$HappyBlue: #6c63ff;
$HappyBlue-1: #0348b0;

.JustWhite {
  color: $JustWhite;
  &--background {
    background-color: $JustWhite;
  }
}
.DarkBlack {
  color: $JustWhite;
  &--background {
    background-color: $DarkBlack;
  }
}
.OurOrange {
  color: $OurOrange;
  &--background {
    background-color: $OurOrange;
  }
}
.ColdBlue {
  color: $ColdBlue;
  &--background {
    background-color: $ColdBlue;
  }
}
.DullBlue {
  color: $DullBlue;
  &--background {
    background-color: $DullBlue;
  }
}
.BlackBlue {
  color: $BlackBlue;
  &--background {
    background-color: $BlackBlue;
  }
}
.HappyBlue {
  color: $HappyBlue;
  &--background {
    background-color: $HappyBlue;
  }
}
.HappyBlue-1 {
  color: $HappyBlue-1;
  &--background {
    background-color: $HappyBlue-1;
  }
}
.OurOrange-1 {
  color: $OurOrange-1;
  &--background {
    background-color: $OurOrange-1;
  }
}

u {
  text-decoration-color: $OurOrange;
  //   text-decoration-style: 30px;
}

section {
  padding-top: 4%;
  padding-bottom: 4%;
}
