$theme-colors: (
  "primary": red,
  "danger": #ff4136,
);
$primary-color: #1d1d1d;
$secondary-color: #ffffff;
$third-color: #39513c;

.custom-navbar {
  background-color: transparent;
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $secondary-color;
}
