@import "../node_modules/bootstrap/scss/bootstrap"; //Bootstrap Import

@import "variable"; //Colors
@import "typography"; //Fonts & Typeface
@import "button"; //For Fonts
@import "navbar"; // For Navbar
@import "module"; // For Extra Effect for all pages

//////////// Page Layout//////////////////

@import "home-page";

#features-treegain {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: $HappyBlue;
  color: $JustWhite;

  .card {
    color: $DarkBlack;
  }

  .icon-card {
    top: 0;
  }
}

#mobile-process {
  padding-top: 4%;
  padding-bottom: 4%;

  img {
    width: 100%;
  }

  .data-1 {
    padding: 30px 20px;
    background-color: $OurOrange;
    border-radius: 8px;
    color: $JustWhite;
  }
}

#platform-section {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #f7f7f7;

  .black-card {
    background-color: $DarkBlack;
    color: $JustWhite;
    padding: 12% 4%;
    border-radius: 10px;

    .a-lot-text {
      // font-family: $Helvetic_Light;
      font-size: 1rem;
      font-weight: 300;
      line-height: 25px;
      padding-top: 3%;
    }

    a {
      color: $JustWhite;
    }
  }
}

#showcase-section {
  padding-top: 4%;

  .project-description {
    height: 700px;
    background-color: #f7f7f7;
    // padding-top: 10%;
    padding-left: 100px;
    padding-top: 150px;
    padding-right: 50px;
  }
}

//////////////about us////@extend
.full-width-image {
  width: 1300px;
  height: 472px;
}

.cutting-image {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  object-fit: cover;
  float: left;
  // padding-left: 10px;
  margin-left: -100px;
  margin-right: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: initial;
}

#job {
  background-color: $HappyBlue;
}
