.cta-modal {
  background-color: #000;
  //   background-color: DarkBlack--background;
  color: #fff;

  .cta-content {
  }

  .cta-form {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
  }

  form {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
