#cta {
  padding-top: 4%;

  .container {
    background-color: $HappyBlue;
    border-radius: 10px;
    height: 285px;
    // height: 1%;
    color: $JustWhite;
    padding: 40px 40px 30px 30px;

    // overflow: hidden;
    @media only screen and (max-width: 1090px) {
      height: 300px;
    }
    @media only screen and (max-width: 990px) {
      border-radius: 10;
      padding: 30px 10px 60px 20px;
      height: 285px;
    }
    @media only screen and (max-width: 680px) {
      border-radius: 0;
      padding: 30px 10px 60px 20px;
      height: 300px;
    }
    @media only screen and (max-width: 375px) {
      border-radius: 0;
      padding: 30px 10px 60px 20px;
      height: 350px;
    }
  }

  .lady-cta {
    // z-index: 99;
    width: 80%;
    left: 100px;
    @media only screen and (max-width: 1200px) {
      left: 40px;
    }
    @media only screen and (max-width: 992px) {
      left: 80px;
    }
    @media only screen and (max-width: 768px) {
      left: 50px;
    }
  }
}

.cta-mail {
  @media only screen and (min-width: 1200px) {
    width: 30%;
  }
  @media only screen and (max-width: 992px) {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
    width: 60%;
  }
}

.cta-modal {
  background-color: #000;
  //   background-color: DarkBlack--background;
  color: #fff;

  .cta-content {
  }

  .cta-form {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
  }

  form {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
