.card:hover {
  background-color: rgba($JustWhite, $alpha: 10);
}

/*========================================
  ============== CTA Section ==============
  ========================================*/
.hero-content {
  padding: 8% 0;
}

#cta {
  padding-top: 4%;

  .container {
    background-color: $HappyBlue;
    border-radius: 10px;
    height: 285px;
    padding-top: 2%;
  }

  .lady-cta {
    z-index: 99;
    left: 100px;
  }
}
