.card:hover {
  background-color: rgba($JustWhite, $alpha: 10);
}

.hero-content {
  padding: 8% 0;
}
/*========================================
  ============== CTA Section ==============
  ========================================*/

#cta {
  padding-top: 4%;

  .container {
    background-color: $HappyBlue;
    border-radius: 10px;
    height: 285px;
    color: $JustWhite;
    padding: 40px 40px 40px 30px;

    @media only screen and (max-width: 680px) {
      border-radius: 0;
      padding: 30px 10px 60px 20px;
    }
  }

  .lady-cta {
    // z-index: 99;
    left: 100px;
  }
}

.center-heading {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  @media only screen and (max-width: 680px) {
    width: 100%;
    margin: 0;
    text-align: left;
    line-height: 30;
  }
}

/////////slider css//////
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.copy {
  padding-top: 250px;
}
