nav {
  font-family: "SF-Display-Regular", sans-serif;
  font-weight: 400;
}

.navbar-transparent {
  background-color: transparent !important;
}

.nav-link {
  padding: 1rem;
  margin-right: 2rem;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: $OurOrange;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.active::after {
  width: 100%;
  height: 3px;
  background: $OurOrange;
  // transition: width 0.3s;
}

// .nav-mobile {
//   a {
//     @media screen and (max-width: 600px) {
//       text-align: center;
//       padding-right: 0;
//     }
//   }
// }
