#about-section {
  width: 100vw;

  .hero-content {
    padding: 6% 0 2% 0;
    display: block;
  }
}

.about-content {
  max-width: 600px;
  text-align: center;
  justify-content: center;
  // padding: 4% 0;
}

.cutting-image {
  padding: 4% 0 0 0;
  background-repeat: no-repeat;
  width: 100%;
}

#create {
  .row:first-child {
    .content {
      margin: 120px 0 0 0;

      @media screen and (max-width: 600px) {
        margin: 0;
      }
    }
  }
  .row:nth-child(2) {
    .content {
      // margin: 120px 0 0 0;

      @media screen and (max-width: 600px) {
        margin: 0;
      }
    }
  }
}
