#career-section {
  width: 100vw;

  .hero-content {
    padding: 6% 0 5% 0;
    display: block;
  }
}

.cutting-image {
  padding: 4% 0 0 0;
  background-repeat: no-repeat;
  width: 100%;
}

.career-content {
  max-width: 700px;
  text-align: center;
  justify-content: center;
}

#job {
  //   margin-top: 45%;
  margin-bottom: 4%;
  background-color: $Grey;
}

.small-image {
  max-width: 80%;
  float: right;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.up-side-image {
  margin-top: -60px;
  @media screen and (max-width: 600px) {
    margin: 0;
    max-width: 100%;
  }
}

#thrive {
  .thrive-content {
    padding: 10% 0 3% 0;
    max-width: 700px;
    text-align: center;
    justify-content: center;
  }
}
.center-image {
  width: 100%;
}

#happy {
  padding: 4% 0;
}

#resume-cta {
  img {
    position: inherit;
    width: 100%;
  }
}

.job-content {
  background-color: $Grey;
  border-radius: 4px;
  padding: 20px;
}
