#case-section {
  width: 100vw;

  .hero-content {
    padding: 6% 0 5% 0;
    display: block;
  }
  .case-description {
    margin: 60px auto;
    width: 50%;

    .display-4 {
      font-size: 44px !important;
    }
    @media only screen and (max-width: 600px) {
      margin: 30px 15px;
      width: 90%;
    }
  }
}
.case-heading {
  font-size: 60px;
  font-family: "SF-Display-Medium", sans-serif;

  margin: 20px 0;
  line-height: 80px;

  @media only screen and (max-width: 600px) {
    line-height: 40px;
    font-size: 44px;
  }
}
.case-image {
  background-repeat: no-repeat;
  width: 100%;
  @media only screen and (max-width: 600px) {
    height: 100%;
    width: 100%;
  }
}
