/*========================================
============== Hero Section ==============
========================================*/

#hero-section {
  width: 100vw;
  height: 100%;

  .hero-content {
    padding-top: 6%;
    padding-bottom: 100px;
    vertical-align: middle;
  }

  .hero-images {
    max-width: 100%;
    @media screen and (max-width: 600px) {
      margin-bottom: 50px;
      margin-top: 20px;
    }
  }

  .hero-text-content {
    margin-top: 50px;

    @media screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }
}

/*========================================
  ============ Service Section =============
  ========================================*/

#service-section {
  background-color: #f7f7f7;
  padding-top: 2%;

  // .block-rectangle {
  //   content: "";
  //   display: block;
  //   height: 350px;
  //   background-color: $HappyBlue;
  //   // width: 250px;
  //   padding: 200px;
  // }

  .testimonial {
    padding: 5% 0;
  }

  .testimonial-user-face {
    border-radius: 50%;
    width: 76px;
    height: 76px;
  }

  .testimonial-video {
    width: 100%;
    height: 350px;
  }
}

/*========================================
  ========== Case Studies Section ==========
  ========================================*/

#case-studies {
  padding-top: 4%;
}

/*========================================
  ============ Client Section ==============
  ========================================*/
#client-section {
  padding-top: 4%;
  background-color: #f7f7f7;
}

.line-block {
  content: "";
  display: block;
  width: 30px;
  background-color: $OurOrange;
}
