/*========================================
============== Hero Section ==============
========================================*/

#website-section {
  width: 100vw;
  height: 100%;

  .website-content {
    padding: 50px 0 90px 0;
    // padding-bottom: 100px;
    vertical-align: middle;
    background-color: #d0deff;
  }

  .hero-images {
    max-width: 100%;
    @media screen and (max-width: 600px) {
      margin-bottom: 50px;
      margin-top: 20px;
    }
  }

  .hero-text-content {
    margin-top: 50px;

    @media screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }
}

/*========================================
    ============ feature Section =============
    ========================================*/

#features-section {
  background-color: $Grey;
  padding: 60px 0;

  .feature-card {
    align-content: center;
    justify-content: center;
    transition: 1s;
    padding: 20px;
    text-align: center;
    transition-duration: 0.2s;

    h5 {
      font-size: 24px;
    }
    p {
      font-family: "SF-Text-Regular", sans-serif;

      font-size: 16px;
      line-height: 24px;
    }

    .card-content {
      margin-top: 10px;
    }
  }

  .feature-card:hover {
    transition: scale(2);
    background: $JustWhite;
    box-shadow: 2px 2px 40px rgb(170, 170, 170);
    z-index: 2;
    padding: 20px;
    border-radius: 4px;
  }

  .feature-svg {
    max-width: 100%;
    padding: 0;
  }

  .container {
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  .card {
    padding: 20px 20px 40px 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px 10px 20px 10px;
    }
  }

  .testimonial {
    padding: 5% 0;
  }

  .testimonial-user-face {
    border-radius: 50%;
    width: 76px;
    height: 76px;
  }

  .testimonial-video {
    width: 100%;
    height: 350px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

/*========================================
    ========== Case Studies Section ==========
    ========================================*/

#case-studies {
  padding: 50px 0;

  .case-studies-block {
    @media screen and (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  .case-studies-thumb {
    width: 350px;
    height: 330px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  .text-center {
    margin: 30px 0 20px 0;
    @media screen and (max-width: 600px) {
      margin: 10px 0 20px 0;
    }
  }
}

#deliver-project {
  .summary {
    margin: 10px 0 20px 0;
    @media screen and (max-width: 600px) {
      margin: 10px 0 20px 0;
    }
  }
}

/*========================================
    ============ Client Section ==============
    ========================================*/
#client-section {
  padding-top: 4%;
  background-color: #f7f7f7;
}

.line-block {
  content: "";
  display: block;
  width: 30px;
  background-color: $OurOrange;
}
