////// SF Text
@font-face {
  font-family: "SF-Text-Black";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Black.woff2);
}
@font-face {
  font-family: "SF-Text-Bold";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Bold.woff);
}
@font-face {
  font-family: "SF-Text-Heavy";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Heavy.woff);
}
@font-face {
  font-family: "SF-Text-Light";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Light.woff2);
}
@font-face {
  font-family: "SF-Text-Medium";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Medium.woff);
}
@font-face {
  font-family: "SF-Text-Regular";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Regular.woff2);
}
@font-face {
  font-family: "SF-Text-Semibold";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Semibold.woff);
}
@font-face {
  font-family: "SF-Text-Thin";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Thin.woff2);
}
@font-face {
  font-family: "SF-Text-Ultralight";
  src: url(../fonts/SF-Pro-Text/woff2/SFProText-Ultralight.woff2);
}

////// SF Display
@font-face {
  font-family: "SF-Display-Black";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Black.woff2);
}
@font-face {
  font-family: "SF-Display-Bold";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Bold.woff);
}
@font-face {
  font-family: "SF-Display-Heavy";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Heavy.woff);
}
@font-face {
  font-family: "SF-Display-Light";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Light.woff2);
}
@font-face {
  font-family: "SF-Display-Medium";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Medium.woff);
}
@font-face {
  font-family: "SF-Display-Regular";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Regular.woff2);
}
@font-face {
  font-family: "SF-Display-Semibold";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Semibold.woff);
}
@font-face {
  font-family: "SF-Display-Thin";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Thin.woff2);
}
@font-face {
  font-family: "SF-Display-Ultralight";
  src: url(../fonts/SF-Pro-Display/woff/SFProDisplay-Ultralight.woff2);
}

//	Headings

// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900")
.gigantic,
.huge,
.large,
.bigger,
.big,
h1,
h2,
h4,
h5,
h6 {
  color: #222;
  font-weight: bold;
  font-family: "SF-Display-Bold", sans-serif;
  font-weight: 900;
  // text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge,
h1 {
  font-size: 64px;
  line-height: 68px;
  @media only screen and (max-width: 680px) {
    font-size: 56px;
  }
}

.large,
h2 {
  font-size: 56px;
  line-height: 1.14;
  @media only screen and (max-width: 680px) {
    font-size: 44px;
  }
}

.bigger,
h3 {
  font-family: "SF-Display-Medium", sans-serif;
  font-size: 48px;
  line-height: 1.38;
  font-weight: 600;
  @media only screen and (max-width: 680px) {
    font-size: 36px;
  }
}
.big,
h4 {
  font-family: "SF-Display-Medium", sans-serif;

  font-size: 32px;
  line-height: 1.38;
  @media only screen and (max-width: 680px) {
    font-size: 28px;
  }
}
h5 {
  font-size: 28px;
  line-height: 1.38;
  @media only screen and (max-width: 680px) {
    font-size: 22px;
  }
}
h6 {
  font-size: 24px;
  line-height: 1.38;
  @media only screen and (max-width: 680px) {
    font-size: 20px;
  }
}
.small,
small {
  font-size: 10px;
  line-height: 1.2;
}

// Basic Text Style

body {
  font-family: "SF-Text-Light", sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.037px;
}

p {
  font-family: "SF-Text-Light", sans-serif;
  line-height: 28.5px;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.037px;
}
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 30px;
  height: 0;
}
